<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=8">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Cache" content="no-cache">
    <title>Document</title>
    <link rel="stylesheet" href="./css/base.css">
    <link rel="stylesheet" href="./css/select.css">
    <link rel="stylesheet" href="./css/style.css">
</head>

<body class="index">
    <img src="./img/header.png" alt="" class="header">
    <form>
        <div class="item">
            <span>确认手机号码</span>
            <div class="input">
                <input type="text" placeholder="请输入手机号码">
            </div>
        </div>
        <div class="item">
            <span>游戏登录账号或游戏ID</span>
            <div class="input">
                <input type="text" placeholder="请输入账号或ID">
            </div>
        </div>
        <ul class="clearfix">
            <li>
                <span>选择游戏</span>
                <div class="select">
                    <span>请选择</span>
                    <p></p>
                    <img src="./img/corner.png" alt="">
                </div>
            </li>
            <li>
                <span>选择大区</span>
                <div class="select">
                    <span>请选择</span>
                    <p></p>
                    <img src="./img/corner.png" alt="">
                </div>
            </li>
            <li>
                <span>选择服务器</span>
                <div class="select">
                    <span>请选择</span>
                    <p></p>
                    <img src="./img/corner.png" alt="">
                </div>
            </li>
            <li>
                <span>选择权益</span>
                <div class="select">
                    <span>请选择</span>
                    <p></p>
                    <img src="./img/corner.png" alt="">
                </div>
            </li>
        </ul>
    </form>
    <div class="submit">确认提交</div>
    <div class="docs">
        <span>
            活动说明<br />
            1、请务必确保手机号码已成功订购网易游戏定向流量包；确保网易游戏登录账号或游戏ID填写正确，否则将造成权益发放失败。<br />
            2、游戏权益选定后不可更改，仅赠送1次，次月5日前自动发放，需至游戏客户端内激活使用。如用户次月退订流量包，则不予发放游戏权益。
        </span>
    </div>
    <div class="pupop">
        <!-- 成功 -->
        <div class="success">
            <h3>提交成功</h3>
            <p>请确保网易游戏定向流量包正常订购，<br />
                耐心等待下月发放游戏权益。</p>
            <div class="btn close">关闭</div>
        </div>
        <!-- 失败 -->
        <div class="fail">
            <h3>提交失败</h3>
            <p>请确保网易游戏定向流量包正常订购，<br />
                耐心等待下月发放游戏权益。</p>
            <div class="btn close">关闭</div>
        </div>
    </div>
</body>

</html>
<script src="./js/rem.js"></script>
<script src="./js/zepto.min.js"></script>
<script src="./js/select.js"></script>
<script>
    // 四个选择器数据,后面三个都是根据第一个的parentId的匹配的.
    var data1 = [
        {
            value: '决战！平安京',
            parentId: '1',
            id: '1',
        },
        {
            value: '神都夜行录',
            parentId: '2',
            id:'2'
        },
        {
            value: '终结者',
            parentId: '3',
            id:'3'
        }
    ]
    var data2 = [
        {
            value: '平安京',
            parentId: '1',
            id: '11',
        },
        {
            value: '神都夜行录',
            parentId: '2',
            id:'21'
        },
        {
            value: '终结者',
            parentId: '3',
            id:'31'
        }
    ]
    var data3 = [
        {
            value: '平安京',
            parentId: '1',
            id: '12',
        },
        {
            value: '10001琴心雪境',
            parentId: '2',
            id:'211'
        },
        {
            value: '10011金风玉露',
            parentId: '2',
            id:'212'
        },
        {
            value: '10041梦回神都',
            parentId: '2',
            id:'213'
        },
        {
            value: '10051沧笙仪梦',
            parentId: '2',
            id:'214'
        },
        {
            value: '终结者',
            parentId: '3',
            id:'311'
        }
    ]
    var data4 = [
        {
            value: '勾玉*50',
            parentId: '1',
            id: '1',
        },
        {
            value: '祈福绘马*1',
            parentId: '1',
            id: '2',
        },
        {
            value: '中级澄心值道具*3',
            parentId: '1',
            id: '3',
        },
        {
            value: '金币*108',
            parentId: '1',
            id: '4',
        },

        {
            value: '玉璧*2',
            parentId: '2',
            id:'1'
        },
        {
            value: '青团食盒*2',
            parentId: '2',
            id:'2'
        },
        {
            value: '小葱拌豆腐*2',
            parentId: '2',
            id:'3'
        },
        {
            value: '奇宝积分*60',
            parentId: '3',
            id:'1'
        },
        {
            value: '冰龙咆哮7天',
            parentId: '3',
            id:'2'
        },
        {
            value: '彩钻*100',
            parentId: '3',
            id:'3'
        }
    ]


    select();
    // 选择器
    function select() {
        var selectContactDom = $('form li');
        selectContactDom.bind('click', function () {
            var index = $(this).index()
            for (var i = 0; i < index; i++) {
                var val = $('form li').eq(i).children('div').children('p').html()
                if (!val) {
                    toast('请先' + ['选择游戏', '选择大区', '选择服务器', '选择权益'][i])
                    return
                }
            }
            var dom = $(this).children('.select')
            var title = '',data = []
            switch (index) {
                case 0:
                    title = '选择游戏'
                    data = data1
                    break;
                case 1:
                    title = '选择大区'
                    var parentId = $('form li').eq(0).children('div').children('p').attr('data-id')
                    data2.forEach(function(item){
                        if(item.parentId == parentId){
                            data.push(item)
                        }
                    })
                    break;
                case 2:
                    title = '选择服务器'
                    var parentId = $('form li').eq(0).children('div').children('p').attr('data-id')
                    data3.forEach(function(item){
                        if(item.parentId == parentId){
                            data.push(item)
                        }
                    })
                    break;
                case 3:
                    title = '选择权益'
                    var parentId = $('form li').eq(0).children('div').children('p').attr('data-id')
                    data4.forEach(function(item){
                        if(item.parentId == parentId){
                            data.push(item)
                        }
                    })
                    break;
            }
            var iosSelect = new IosSelect(1,
                [data], {
                    title: title,
                    itemHeight: 0.7,
                    headerHeight: 0.86,
                    itemShowCount: 5,
                    cssUnit: 'rem',
                    relation: [1, 1],
                    callback: function (selectOneObj, selectTwoObj, selectThreeObj) {
                        for (var i = index; i < 4; i++) {
                            $('form li').eq(i).children('div').children('p').hide()
                            $('form li').eq(i).children('div').children('p').html('')
                            $('form li').eq(i).children('div').children('span').show()
                        }
                        dom.children('span').hide()
                        dom.children('p').show()
                        dom.children('p').html(selectOneObj.value)
                        dom.children('p').attr('data-name', selectOneObj.value);
                        dom.children('p').attr('data-id', selectOneObj.id);
                    }
                });
        });
    }

    $('.submit').click(function () {
        $('.pupop').show()
        $('.pupop .success').show()
        // 弹窗禁止内容滚动
        $('body').css({
            position: 'fixed',
            top: -document.body.scrollTop + 'px'
        });
    })

    // 关闭弹窗
    $('.close').click(function () {
        close()
    })

    function close() {
        $('.pupop').hide()
        $('.pupop > div').hide()
        // 放开弹窗禁止内容滚动
        var top = -document.body.style.top.replace('px');
        $('body').css({
            position: 'static'
        });
        window.scrollTo(0, top);
    }
    // 提示
    function toast(mess) {
        var str = '<div class="toast"><span></span></div>';
        $("body").append(str);
        $(".toast").find("span").html(mess);
        setTimeout(function () {
            $(".toast").hide()
        }, 1000)
    }
</script>