#index {
  background: url('../img/header.jpg') no-repeat;
  background-size: 100%;
  background-color: #0b0306;
}
#index .btn {
  width: 2.82rem;
  height: 0.42rem;
  margin: 0 auto;
  background: linear-gradient(90deg, #f9e6b0, #cf9616);
  box-shadow: 0 0 0.05rem 0.01rem #dfb552;
  border-radius: 0.2rem;
  font-size: 0.17rem;
  text-align: center;
  font-family: FZLTHK;
  font-weight: bold;
  line-height: 0.42rem;
  color: #170f0e;
}
#index .main .submit {
  margin-top: 5.36rem;
}
#index .main .tips {
  display: block;
  text-align: center;
  margin: 0.1rem 0;
  font-size: 0.1rem;
  font-family: FZLTHK;
  font-weight: normal;
  color: #8b8b8b;
}
#index .main .flv {
  width: 3.65rem;
  background: url('../img/flv_bg.png') no-repeat;
  background-size: 100%;
  margin-left: 0.25rem;
  text-align: center;
  position: relative;
}
#index .main .flv > a {
  display: inline-block;
  width: 3.44rem;
  height: 1.75rem;
  background: url('../img/banner1.jpg') no-repeat;
  background-size: 100%;
  margin-top: 0.12rem;
}
#index .main .flv .play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1.06rem;
  z-index: 0;
}
#index .main .flv2 > a {
  background: url('../img/banner2.jpg') no-repeat;
  background-size: 100%;
}
#index .main .flv3 > a {
  background: url('../img/banner3.jpg') no-repeat;
  background-size: 100%;
}
#index .main ul li .title {
  width: 2.46rem;
  margin: 0 auto;
}
#index .main ul li > a {
  display: block;
  text-align: center;
  font-size: 0.12rem;
  font-family: FZLTHK;
  font-weight: normal;
  text-decoration: underline;
  color: #ffffff;
  padding-bottom: 0.22rem;
}
#index .main footer {
  background: url('../img/footer.jpg') no-repeat;
  background-size: 100%;
  height: 1.2rem;
}
#index .pupop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}
#index .pupop > div {
  display: none;
  width: 3.19rem;
  margin: 2rem auto 0;
  background: #5b1c2b;
  border: 0.01rem solid #d1b73d;
  border-radius: 0.05rem;
  font-size: 0.12rem;
  font-family: FZLTHK;
  color: #FFFFFF;
  text-align: center;
}
#index .pupop > div .title {
  margin: 0.3rem auto 0.17rem;
  text-align: center;
  font-size: 0.21rem;
  color: #ffea00;
}
#index .pupop > div span {
  color: #FFEA00;
}
#index .pupop > div .docs {
  margin: 0.12rem 0.16rem ;
}
#index .pupop > div .btn {
  width: 2.04rem;
  box-shadow: none;
  margin: 0.27rem auto 0.22rem;
}
#index .pupop > div a {
  color: #fff;
  text-decoration: underline;
}
