<!DOCTYPE>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" id="viewport"  />
<meta name="format-detection" content="telephone=no" />
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>校园专区</title>
<link href="style/layer.css" rel="stylesheet" type="text/css" />
<link href="style/page.css" rel="stylesheet" type="text/css" />

</head>

<body class="" id="chongsong">
	<div class="chongsong-page">
		<h3>
			<img src="image/chong-header.png"/>
		</h3>
    
	    <!--充送专区-->
	    <div class="chongsongCont">
	    	 <div class="title content-my-title">
		        <div class="title-txt">预存50送240优惠活动</div>
		    </div>
		    <div class="cont-chongsong">
		    	<div class="title-chongsong"><span></span>业务简介：</div>
		        <div>客户承诺使用校园不限量学霸套餐，预存50元话费，赠送240元话费，赠送话费从次月起每月月结日到账。</div>
		        <div class="title-chongsong"><span></span>套餐说明：</div>
		        <div>
		            <p class="red">1、本套餐适用于校园不限量学霸套餐，每个号码只可办理一次。</p>
		            <p>2、共存规则： 已经办理其他充送优惠的客户无法再次享受校园充送优惠。</p>
		            <p>3、生效规则：</p>
		            <p>1）客户需承诺38元低消及使用校园不限量学霸套餐12个月；</p>
		            <p>2）充值话费立即到账，赠送话费从次月起后续12个月每月月结日到账。</p>
		        </div>
		    </div>
	        
	        <div class="chongsong-school-btn">立即办理</div>
	    </div>
	</div>
    
	<script src="js/jquery.min.js"></script>
    <script src="js/rem.dev.js"></script>
    <script src="js/layer.js"></script>
    <script src="js/msgbox.js"></script>
    
</body>
</html>
