<!DOCTYPE>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" id="viewport"  />
<meta name="format-detection" content="telephone=no" />
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>校园专区</title>
<link href="style/swiper.min.css" rel="stylesheet" type="text/css" />
<link href="style/layer.css" rel="stylesheet" type="text/css" />
<link href="style/page.css" rel="stylesheet" type="text/css" />

</head>

<body class="layout indexbg page-index" >
    <div class="indexpic">
    	<div class="headnav"><span>我的</span></div>
        <div><img src="image/head-img2.png" /></div>
        <div class="school_nav">
            <div class="swiper-container" id="school_nav">
              <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="image/nav-product03.png" class="img1" /></div>
                <div class="swiper-slide"><img src="image/nav-product02.png" class="img2" /></div>
                <div class="swiper-slide"><img src="image/nav-product04.png" class="img3" /></div>
                <div class="swiper-slide"><img src="image/nav-product05.png" class="img4" /></div>
              </div>
              <!-- Add Navigation -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
            </div>
        </div>
    </div>
    
        
    <!--内容区-->
    <!--产品供应站-->
    <div class="" id="content1">
        
        <!--套餐选择-->
        <div class="content-product">
            <div class="title content-product-title">
                <!--<div class="titleline-l"></div>-->
                <div class="title-txt">校园特供产品</div>
                <!--<div class="titleline-r"></div>-->
            </div>
            <div class="product-tab" id="product_tab">
                <li class="active"><img src="image/product/menu_taocan_xueba.png" /><span class="tabrecommend"></span></li>
                <li><img src="image/product/menu_taocan_20g.png" /></li>
            </div>
            <div id="product_content">
                <ul>
                    <div class="indexpic"><img src="image/product/zifei03.png" /></div>
                    <div class="banli2">
                        <span>立即领学霸卡</span>
                        <span>立即激活学霸</span>
                    </div>
                </ul>
                <ul style="display:none;">
                    <div class="indexpic"><img src="image/product/zifei02.png" /></div>
                    <div class="banli" onClick="wait_success();">
                        <span>立即办理</span>
                    </div>
                </ul>
            </div>
        </div>
    </div>
    <!--内容集中营-->
    <div class="" style="display:none;" id="content2">
        <!--导航菜单-->
        <div class="product-menu">
            <li><img src="image/menu01.png" /></li>
            <li><img src="image/menu02.png" /></li>
            <li><img src="image/menu03.png" /></li>
        </div>
        <!--校园活动-->
        <div class="content-choice">
            <div class="title content-choice-title">
                <!--<div class="titleline-l"></div>-->
                <div class="title-txt">校园活动专区</div>
                <!--<div class="titleline-r"></div>-->
            </div>
            <div class="content-choice-item">
                <li class="single">
                    <div class="item-pic"><img src="image/banner01.jpg" /></div>
                    <div class="item-title">多用多送新手礼</div>
                    <div class="item-intro">完成所有任务，6G流量带回家</div>
                </li>
                <li>
                    <div class="item-pic"><img src="image/banner03.jpg" /></div>
                    <div class="item-title">【全省】呼朋唤友拿流量</div>
                    <div class="item-intro">20G流量三人成团</div>
                </li>
                <li>
                    <div class="item-pic"><img src="image/banner04.jpg" /></div>
                    <div class="item-title">【广州】领10万迎新礼</div>
                    <div class="item-intro">新关注微信领5元话费</div>
                </li>
            </div>
        </div>
        <!--精彩内容-->
        <div class="content-choice">
            <div class="title content-choice-title">
                <!--<div class="titleline-l"></div>-->
                <div class="title-txt">精选内容专区</div>
                <!--<div class="titleline-r"></div>-->
            </div>
            <div class="content-choice-item">
                <li>
                    <div class="item-pic"><img src="image/content_choice_pic01.png" /></div>
                    <div class="item-title">实习生</div>
                    <div class="item-intro">教你迈出学校大门后，该如何做一个职场新人</div>
                </li>
                <li>
                    <div class="item-pic"><img src="image/content_choice_pic01.png" /></div>
                    <div class="item-title">实习生</div>
                    <div class="item-intro">教你迈出学校大门后，该如何做一个职场新人教你迈出学校大门后教你迈出学校大门后教你迈出学校大门后</div>
                </li>
                <li>
                    <div class="item-pic"><img src="image/content_choice_pic01.png" /></div>
                    <div class="item-title">实习生</div>
                    <div class="item-intro">教你迈出学校大门后，该如何做一个职场新人</div>
                </li>
                <li>
                    <div class="item-pic"><img src="image/content_choice_pic01.png" /></div>
                    <div class="item-title">实习生</div>
                    <div class="item-intro">教你迈出学校大门后，该如何做一个职场新人教你迈出学校大门后教你迈出学校大门后教你迈出学校大门后</div>
                </li>
            </div>
        </div>
        
        
        
    </div>
    <!--权益俱乐部-->
    <div class="" style="display:none;"  id="content3">
                
        <!--精彩内容-->
        <div class="club-content">
            <div class="club-benifit-title re-title">
                <div class="title-txt paddingUp">特惠权益活动</div>
            </div>
            <div class="club-benifit-item h64">
                <li>
                    <div class="item-pic"><img src="image/app-item02.png" /></div>
                    <div class="odds-more">更多权益优惠购</div>
                </li>
                <li class="before-page">
                    <div class="more-link more-link2 before-btn">
                        <a href="./index2.html">点击抢购</a>
                    </div>
                </li>
            </div>
        </div>
        
        <!--校园特供优惠权益-->
        <div class="club-content">
            <div class="title club-benifit-title">
                <div class="title-txt paddingUp">校园特供优惠权益</div>
            </div>
            <div id="beforeStyle" class="club-school-box">
                <div class="club-school-title">学霸畅想会员权益<span>（免费领取，不含优惠购产品）</span></div>
                <div class="club-school-product school-product-app" id="quanyi1">
                    <div class="slide-app select">
                        <div class="logo">
                            <img src="image/logo/logo_migu.png" />
                            <span class="ico_select"></span>
                            <div class="jb">送6个月</div>
                        </div>
                        <p>咪咕视频</p>
                    </div>
                    <div class="slide-app big-slide-app">
                        <div class="logo">
                            <img src="image/logo/logo_pptv.png" />
                            <span class="ico_select"></span>
                            <div class="jb">抽奖</div>
                        </div>
                        <p>PPTV</p>
                    </div>
                    <div class="slide-app"></div>
                    <div class="slide-app"></div>
                    <div class="slide-app">
                        <div class="logo">
                            <img src="image/logo/logo_iqiyi.png" />
                            <span class="ico_select"></span>
                            <div class="jb">送2个月</div>
                        </div>
                        <p>爱奇艺</p>
                    </div>
                    <div class="slide-app">
                        <div class="logo">
                            <img src="image/logo/logo_youku.png" />
                            <span class="ico_select"></span>
                            <div class="jb">送2个月</div>
                        </div>
                        <p>优酷视频</p>
                    </div>
                    <div class="slide-app">
                        <div class="logo">
                            <img src="image/logo/logo_maguotv.png" />
                            <span class="ico_select"></span>
                            <div class="jb">送2个月</div>
                        </div>
                        <p>芒果TV</p>
                    </div>
                </div>
                <div class="club-school-title-rule">PPTV业务规则：</div>
                <ol class="club-school-rule">
                    <li>1.优惠领取客户：2019年4月22日后新激活的广东移动学霸卡用户，可免费领取6个月PPTV校园优惠会员权益。</li>
                    <li>2.权益赠送规则：前3个月0元体验，后3个月先扣后返（扣费10.99元后，返还10.99元话费)</li>
                    <li>3.权益领取规则：优惠权益领取时间截至2020年6月30日。每月仅享受一次优惠领取机会，每个方向权益仅可享受一次（具体权益方向以页面展示为准）。</li>
                    <li>4.到账规则：成功领取后，会员实时到账，会员权益有效期31天。</li>
                    <li>5.到期提醒规则：校园权益包优惠体验到期，将通过短信确认是否续订，续订后享受优惠正价订购。</li>
                    <li>6.优惠权益享受结束后，客户仍可以优惠价格享受会员权益。</li>
                    <li>7.本活动限广东移动手机号码注册用户，第三方注册用无法领取。领取号码默认为用户登录注册号码，不得更改。</li>
                    <li>温馨提醒：</li>
                    <li>1.品牌转换规则：品牌转换期间，新品牌未生效期间，不允许办理。</li>
                    <li>2.2/3G不限量套餐，4G随心王套餐、万花筒套餐客户不可办理，需先取消上述套餐后方可办理（详询10086）。</li>
                </ol>
                
                <div class="club-school-btn" onClick="joinCj()">立即领取</div>
                
            </div>
        </div>

        
    </div>
    
    <!--移动玩咖-->
    <div class="" style="display:none;"  id="content4">
    	<div class="product-menu">
            <li><img src="image/ydwk_tu1.png" /></li>
            <li><img src="image/ydwk_tu2.png" /></li>
            <li><img src="image/ydwk_tu3.png" /></li>
        </div>
    </div>
    
    <!--登录提示-->
    <div class="msgbg" id="login" style="display:none;">
        <div class="login">
        	<p>用户登录</p>
            <div class="login-block">
            	<div class="phone"><input placeholder="请输入广东移动手机号码" type="tel" id="phone" /></div>
                <div class="authcode">
                    <input placeholder="请输入验证码" id="authcode" />
                    <div class="getcode"><button id="getcode" onClick="invokeSettime(getcode);">获取验证码</button></div>
                </div>
                <div class="login_btn_block">
                  <button class="login_btn" id="login_btn">马上登录</button>
                </div>
                <div class="loginlink">
                	<li onClick="window.location='http://wap.gd.10086.cn/nwap/choseNumber/realName/index.jsps'">有校园卡<span>去激活&gt;</span></li>
                    <li>没有校园卡<span>去选卡&gt;</span></li>
                </div>
            </div>
        </div>
        <div class="msg_close"></div>
    </div>
    
    <!--发送请求-->
    <div class="msgbg" id="waiting" style="display:none;">
        <div class="waiting">
        	<div class="waiting_ani"></div>
            <div>正在发送请求</div>
        </div>
    </div>
    
    <!--订购异常-->
    <div class="msgbg" id="fail" style="display:none;">
        <div class="tips">
        	<div class="iconfail"></div>
            <div>业务办理异常</div>
            <div class="smalltxt">尊敬的客户，您申请办理的产品和您现有套餐存在互斥关系，暂不支持订购！</div>
            <div class="msgbtn">
            	<li class="btn-confirm" onClick="layer.closeAll();">确认并返回</li>
            </div>
        </div>
    </div>
    
    <!--订购成功-->
    <div class="msgbg" id="success" style="display:none;">
        <div class="tips">
        	<div class="iconsuccess"></div>
            <div>套餐激活成功</div>
            <div class="smalltxt">即可领取学霸套餐专享权益与定向流量包</div>
            <div class="msgbtn">
            	<li class="btn-cancel" onClick="layer.closeAll();">取消</li>
                <li class="btn-confirm" onClick="taocan_success();">前往领取</li>
            </div>
        </div>
    </div>
    
    <!--优惠购订购-->
    <div class="msgbg" id="dinggou" style="display:none;">
        <div class="tips">
            <div class="smalltxt">温馨提示</div>
            <div>您将订购爱奇艺1个月会员权益（10.99元/月）</div>
            <div>是否确认订购？</div>
            <div class="msgbtn">
            	<li class="btn-cancel" onClick="layer.closeAll();">取消</li>
                <li class="btn-confirm" onClick="dinggou_success();">确认</li>
            </div>
        </div>
    </div>
	
    <!--参与抽奖-->
    <div class="msgbg" id="joinCj" style="display:none;">
        <div class="tips">
            <div class="zjtxt"><span>您已成功领取中超+视频会员，</span><br/>恭喜获赠大转盘抽奖机会！</div>
            <div class="msgbtn">
                <li class="btn-confirm">立即前往</li>
            	<li class="btn-cancel btn-goaway" onClick="layer.closeAll();">忍痛离开</li>
            </div>
            <div class="zjtxt1">
            	华为二合一笔记本<br/>
                大疆无人机、 手机云台 、蓝牙运动耳机<br/>
                苏宁易购1000元购物卡<br/>
                Dior香氛 CHAENL口红<br/>
                豪华大奖等你来！
            </div>
            <div class="jp-list">
                <ul>
                    <li><img src="image/pop/pop_jp1.png" alt="" width="100%" /></li>
                    <li><img src="image/pop/pop_jp2.png" alt="" width="100%" /></li>
                    <li><img src="image/pop/pop_jp3.png" alt="" width="100%" /></li>
                    <li><img src="image/pop/pop_jp4.png" alt="" width="100%" /></li>
                    <li><img src="image/pop/pop_jp5.png" alt="" width="100%" /></li>
                </ul>
            </div>
        </div>
    </div>
    
	<script src="js/jquery.min.js"></script>
    <script src="js/swiper.min.js"></script>
    <script src="js/rem.dev.js"></script>
    <script src="js/layer.js"></script>
    <script src="js/msgbox.js"></script>
    <script src="js/tab.js"></script>
    <script>
		var mySwiper1 = new Swiper('#school_nav', {
			slidesPerView: 'auto',
			centeredSlides: true,
			spaceBetween: '5%', 
			slideToClickedSlide:false,
			loop:true,
			//loopedSlides :3,
            initialSlide:2,
			observer:true,
			observeParents:true,
			nextButton: '#school_nav .swiper-button-next',
			prevButton: '#school_nav .swiper-button-prev',
			onSlideChangeEnd : function(swiper) {
				//获取图片id
				menuid = $('#school_nav .swiper-slide-active img').attr("class");
				menu();
			},
		})
		
	</script>
    
</body>
</html>
