<!DOCTYPE>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" id="viewport"  />
<meta name="format-detection" content="telephone=no" />
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>校园专区</title>
<link href="style/swiper.min.css" rel="stylesheet" type="text/css" />
<link href="style/layer.css" rel="stylesheet" type="text/css" />
<link href="style/page.css" rel="stylesheet" type="text/css" />

</head>

<body class="layout indexbg page-index" >
    <div class="indexpic">
    	<div class="headnav"><span>我的</span></div>
        <div><img src="image/head-img.png" /></div>
        <div class="school_nav">
            <div class="swiper-container" id="school_nav">
              <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="image/nav-product03.png" class="img1" /></div>
                <div class="swiper-slide"><img src="image/nav-product02.png" class="img2" /></div>
                <div class="swiper-slide"><img src="image/nav-product01.png" class="img3" /></div>
              </div>
              <!-- Add Navigation -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
            </div>
        </div>
    </div>
    
        
    <!--内容区-->
    <!--产品供应站-->
            <div class="" id="content1">
            	
                <!--套餐选择-->
                <div class="content-product">
                	<div class="title content-product-title">
                        <!--<div class="titleline-l"></div>-->
                        <div class="title-txt">校园特供产品</div>
                        <!--<div class="titleline-r"></div>-->
                    </div>
                    <div class="product-tab" id="product_tab">
                        <li class="active"><img src="image/product/menu_taocan_xueba.png" /><span class="tabrecommend"></span></li>
                        <li><img src="image/product/menu_taocan_20g.png" /></li>
                    </div>
                    <div id="product_content">
                        <ul>
                            <div class="indexpic"><img src="image/product/zifei03.png" /></div>
                            <div class="banli2">
                                <span>立即领学霸卡</span>
                                <span>立即激活学霸</span>
                            </div>
                        </ul>
                        <ul style="display:none;">
                        	<div class="indexpic"><img src="image/product/zifei02.png" /></div>
                            <div class="banli" onClick="wait_success();">
                                <span>立即办理</span>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
            <!--内容集中营-->
            <div class="" style="display:none;" id="content2">
            	<!--导航菜单-->
                <div class="product-menu">
                	<li><img src="image/menu01.png" /></li>
                    <li><img src="image/menu02.png" /></li>
                    <li><img src="image/menu03.png" /></li>
                </div>
                <!--校园活动-->
                <div class="content-choice">
                	<div class="title content-choice-title">
                        <!--<div class="titleline-l"></div>-->
                        <div class="title-txt">校园活动专区</div>
                        <!--<div class="titleline-r"></div>-->
                    </div>
                    <div class="content-choice-item">
                    	<li class="single">
                        	<div class="item-pic"><img src="image/banner01.jpg" /></div>
                            <div class="item-title">多用多送新手礼</div>
                            <div class="item-intro">完成所有任务，6G流量带回家</div>
                        </li>
                        <li>
                        	<div class="item-pic"><img src="image/banner03.jpg" /></div>
                            <div class="item-title">【全省】呼朋唤友拿流量</div>
                            <div class="item-intro">20G流量三人成团</div>
                        </li>
                        <li>
                        	<div class="item-pic"><img src="image/banner04.jpg" /></div>
                            <div class="item-title">【广州】领10万迎新礼</div>
                            <div class="item-intro">新关注微信领5元话费</div>
                        </li>
                    </div>
                </div>
                <!--精彩内容-->
                <div class="content-choice">
                	<div class="title content-choice-title">
                        <!--<div class="titleline-l"></div>-->
                        <div class="title-txt">精选内容专区</div>
                        <!--<div class="titleline-r"></div>-->
                    </div>
                    <div class="content-choice-item">
                    	<li>
                        	<div class="item-pic"><img src="image/content_choice_pic01.png" /></div>
                            <div class="item-title">实习生</div>
                            <div class="item-intro">教你迈出学校大门后，该如何做一个职场新人</div>
                        </li>
                        <li>
                        	<div class="item-pic"><img src="image/content_choice_pic01.png" /></div>
                            <div class="item-title">实习生</div>
                            <div class="item-intro">教你迈出学校大门后，该如何做一个职场新人教你迈出学校大门后教你迈出学校大门后教你迈出学校大门后</div>
                        </li>
                        <li>
                        	<div class="item-pic"><img src="image/content_choice_pic01.png" /></div>
                            <div class="item-title">实习生</div>
                            <div class="item-intro">教你迈出学校大门后，该如何做一个职场新人</div>
                        </li>
                        <li>
                        	<div class="item-pic"><img src="image/content_choice_pic01.png" /></div>
                            <div class="item-title">实习生</div>
                            <div class="item-intro">教你迈出学校大门后，该如何做一个职场新人教你迈出学校大门后教你迈出学校大门后教你迈出学校大门后</div>
                        </li>
                    </div>
                </div>
                
                
                
            </div>
            <!--权益俱乐部-->
            <div class="" style="display:none;"  id="content3">
            	<!--精彩内容-->
                <div class="club-content">
                	<div class="club-benifit-title re-title">
                        <!--<div class="titleline-l"></div>-->
                        <div class="title-txt">特惠权益活动</div>
                        <!--<div class="titleline-r"></div>-->
                       <!-- <a class="more-link" href="more-index.html">更多权益待领取></a>-->
                    </div>
                    <div class="club-benifit-item">
                    	<li>
                        	<div class="item-pic"><img src="image/app-item01.png" /></div>
                            <div class="item-info"><span>领取和包券</span><span>你有1张券待领取</span></div>
                        </li>
                        <li>
                        	<div class="item-pic"><img src="image/app-item02.png" /></div>
                            <div class="item-info"><span>我的观影卷</span><span>你有4张万达影券待领取</span></div>
                        </li>
                        <li>
                        	<div class="item-pic"><img src="image/app-item03.png" /></div>
                            <div class="item-info"><span>288元大礼包</span><span>淘宝大礼包立即领</span></div>
                        </li>
                        <li>
                        	<div class="item-pic"><img src="image/app-item04.png" /></div>
                            <div class="item-info"><span>20元红包</span><span>支付宝红包免费领</span></div>
                        </li>
                    </div>
                    <div class="more-link">
                    	<a href="more-index.html">点击领取更多权益</a>
                    </div>
                </div>
                
                <!--banner-->
                <!--<div class="club-banner">
                	<div class="title club-banner-title">
                        <div class="titleline-l"></div>
                        <div class="title-txt">精彩活动进行中</div>
                        <div class="titleline-r"></div>
                    </div>
                    <div class="indexpic"><img src="image/banner01.jpg" /></div>
                </div>-->
                
                <!--校园特供优惠权益-->
                <div class="club-content">
                	<div class="title club-benifit-title">
                        <!--<div class="titleline-l"></div>-->
                        <div class="title-txt">校园特供优惠权益</div>
                        <!--<div class="titleline-r"></div>-->
                    </div>
                    <div class="club-school-tab" id="club_school_tab">
                    	<li class="active">学霸套餐免费领</li>
                        <li>校园客户优惠购</li>
                    </div>
                    <div id="club_school_special">
                        <ul>
                        	<div class="club-school-title">请选择权益产品</div>
                           	<div class="club-school-product school-product-app" id="quanyi1">
								<!--<div class="swiper-container" id="product_quanyi1">
									<div class="swiper-wrapper">-->
										<div class="slide-app select">
											<div class="logo"><img src="image/logo/logo_douyin.png" /><span class="ico_select"></span></div><span>抖音</span>
										</div>
										<div class="slide-app">
											<div class="logo"><img src="image/logo/logo_ximalaya.png" /><span class="ico_select"></span></div><span>喜马拉雅</span>
										</div>
										<div class="slide-app">
											<div class="logo"><img src="image/logo/logo_maguotv.png" /><span class="ico_select"></span></div><span>芒果TV</span>
										</div>
										<div class="slide-app">
											<div class="logo"><img src="image/logo/logo_fm.png" /><span class="ico_select"></span></div><span>FM</span>
										</div>
										<div class="slide-app">
											<div class="logo"><img src="image/logo/logo_cctv.png" /><span class="ico_select"></span></div><span>央视TV</span>
										</div>
										<div class="slide-app">
											<div class="logo"><img src="image/logo/logo_cctv.png" /><span class="ico_select"></span></div><span>央视TV</span>
										</div>
										<div class="slide-app">
											<div class="logo"><img src="image/logo/logo_cctv.png" /><span class="ico_select"></span></div><span>央视TV</span>
										</div>
									<!--</div>
								</div>-->
								<!-- Add Navigation -->
								<!--<div class="swiper-button-prev"></div>
								<div class="swiper-button-next"></div>-->
							</div>
                            
                            <!-- 领取 -->
                            <div class="club-school-title">领取</div>
                            <div class="club-school-price-block">
                                <div class="club-school-price">
                                    <p>月会员</p>
                                    <p class="price">0元</p>
                                </div>
                            </div>
                            <div class="club-school-title-rule">温馨提示：</div>
                            <ol class="club-school-rule">
                            	<li>新卡激活后套餐立即生效，首月免月费，次月起月初一次性扣费，变更套餐或变更视频APP次月生效。</li>
                            	<li>视频流量仅可在国内使用（不含港澳台）。</li>
                            	<li>当余额不足时，做停机处理。</li>
                            	<li>视频流量当月清零、不能分享、不能转赠，其他业务规则以当地为准，详询10086。</li>
                            </ol>
                            
                            <!-- 已领取 -->
                            <div class="club-school-title">我已领取</div>
                            <div class="club-school-geted-block">
                                <div class="club-school-geted">
                                    <p class="servicelogo"><img src="image/logo/logo_iqiyi.png" /></p>
                                    <p class="servicename">爱奇艺视频</p>
                                </div>
                                <div class="club-school-geted-btn">
                                    <p onClick="window.location='quanyi_change.html'">权益变更</p>
                                </div>
                            </div>
                            <div class="club-school-title-rule">会员介绍：</div>
                            <ol class="club-school-rule">
                            	<li>新卡激活后套餐立即生效，首月免月费，次月起月初一次性扣费，变更套餐或变更视频APP次月生效。</li>
                            	<li>视频流量仅可在国内使用（不含港澳台）。</li>
                            	<li>当余额不足时，做停机处理。</li>
                            	<li>视频流量当月清零、不能分享、不能转赠，其他业务规则以当地为准，详询10086。</li>
                            </ol>
                            
                            <div class="club-school-btn">立即领取</div>
                        </ul>
                        <!--<div class="club-school-btn">立即领取</div>-->
                        <ul style="display:none;">
                        	<div class="club-school-title">请选择权益产品</div>
                            <div class="club-school-product school-product-app" id="quanyi2">
                                <!--<div class="swiper-container" id="product_quanyi2">
                                    <div class="swiper-wrapper">-->
                                        <div class="slide-app select">
                                        	<div class="logo">
                                        		<img src="image/logo/logo_douyin.png" />
                                        		<span class="ico_select"></span>
                                        	</div>
                                        	<span>抖音</span>
                                        </div>
                                        <div class="slide-app">
                                        	<div class="logo">
                                        		<img src="image/logo/logo_ximalaya.png" />
                                        		<span class="ico_select"></span>
                                        	</div>
                                        	<span>喜马拉雅</span>
                                        </div>
                                        <div class="slide-app">
                                        	<div class="logo">
                                        		<img src="image/logo/logo_douyin.png" />
                                        		<span class="ico_select"></span>
                                        	</div>
                                        	<span>抖音</span>
                                        </div>
                                        <div class="slide-app">
                                        	<div class="logo">
                                        		<img src="image/logo/logo_douyin.png" />
                                        		<span class="ico_select"></span>
                                        	</div>
                                        	<span>抖音</span>
                                        </div>
                                        <div class="slide-app">
                                        	<div class="logo">
                                        		<img src="image/logo/logo_douyin.png" />
                                        		<span class="ico_select"></span>
                                        	</div>
                                        	<span>抖音</span>
                                        </div>
                                        <div class="slide-app">
                                        	<div class="logo">
                                        		<img src="image/logo/logo_douyin.png" />
                                        		<span class="ico_select"></span>
                                        	</div>
                                        	<span>抖音</span>
                                        </div>
                                    <!--</div>
                                </div>-->
                                <!-- Add Navigation -->
                                <!--<div class="swiper-button-prev"></div>
                                <div class="swiper-button-next"></div>  -->
                            </div>
                            
                            <!-- 订购 -->
                            <div class="club-school-title">我要订购</div>
                            <div class="club-school-price-block">
                                <div class="club-school-price">
                                    <p>月会员</p>
                                    <p class="price">0元</p>
                                </div>
                            </div>
                            <div class="club-school-title-rule">温馨提示：</div>
                            <ol class="club-school-rule">
                            	<li>新卡激活后套餐立即生效，首月免月费，次月起月初一次性扣费，变更套餐或变更视频APP次月生效。</li>
                            	<li>视频流量仅可在国内使用（不含港澳台）。</li>
                            	<li>当余额不足时，做停机处理。</li>
                            	<li>视频流量当月清零、不能分享、不能转赠，其他业务规则以当地为准，详询10086。</li>
                            </ol>
                            
                            <!-- 已订购 -->
                            <div class="club-school-title">我已订购</div>
                            <div class="club-school-geted-block">
                                <div class="club-school-geted">
                                    <p class="servicelogo"><img src="image/logo/logo_iqiyi.png" /></p>
                                    <p class="servicename">爱奇艺视频</p>
                                </div>
                                <div class="club-school-geted-btn">
                                    <p onClick="window.location='quanyi_change.html'">权益变更</p>
                                </div>
                            </div>
                            <div class="club-school-title-rule">会员介绍：</div>
                            <ol class="club-school-rule">
                            	<li>新卡激活后套餐立即生效，首月免月费，次月起月初一次性扣费，变更套餐或变更视频APP次月生效。</li>
                            	<li>视频流量仅可在国内使用（不含港澳台）。</li>
                            	<li>当余额不足时，做停机处理。</li>
                            	<li>视频流量当月清零、不能分享、不能转赠，其他业务规则以当地为准，详询10086。</li>
                            </ol>
                            
                            <div class="club-school-btn" onClick="dinggou();">立即订购</div>
                        </ul>
                    </div>
            	</div>
                
                <!--任我看定向优惠套餐-->
                <!--<div class="club-content">
                	<div class="title club-benifit-title">
                        <div class="titleline-l"></div>
                        <div class="title-txt">任我看定向优惠套餐</div>
                        <div class="titleline-r"></div>
                    </div>
                    <div class="club-renwokan-tab" id="club_renwokan_tab">
                    	<li class="active">免费领</li>
                        <li>优惠购</li>
                    </div>
                    <div id="club_renwokan_special">
                        <ul>
                        	<div class="club-renwokan-title">请选择任我看定向产品</div>
                            <div class="club-renwokan-product" id="renwokan1">
                                <div class="swiper-container" id="product_renwokan1">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide select"><div class="logo"><img src="image/logo/logo_douyin.png" /><span class="ico_select"></span></div><span>抖音</span></div>
                                        <div class="swiper-slide"><div class="logo"><img src="image/logo/logo_ximalaya.png" /><span class="ico_select"></span></div><span>喜马拉雅</span></div>
                                        <div class="swiper-slide"><div class="logo"><img src="image/logo/logo_douyin.png" /><span class="ico_select"></span></div><span>抖音</span></div>
                                        <div class="swiper-slide"><div class="logo"><img src="image/logo/logo_douyin.png" /><span class="ico_select"></span></div><span>抖音</span></div>
                                        <div class="swiper-slide"><div class="logo"><img src="image/logo/logo_douyin.png" /><span class="ico_select"></span></div><span>抖音</span></div>
                                        <div class="swiper-slide"><div class="logo"><img src="image/logo/logo_douyin.png" /><span class="ico_select"></span></div><span>抖音</span></div>
                                    </div>
                                </div>
                                
                                <div class="swiper-button-prev"></div>
                                <div class="swiper-button-next"></div>
                            </div>-->
                            
                            <!-- 领取 -->
                            <!--<div class="club-renwokan-title">领取</div>
                            <div class="club-renwokan-price-block">
                                <div class="club-renwokan-price club-renwokan-price-select">
                                    <div class="info">
                                    	<p>30GB国内</p>
                                        <p>APP视频定向流量（爱奇艺）</p>
                                    </div>
                                    <div class="price">0元/月</div>
                                </div>
                                <div class="club-renwokan-price">
                                    <div class="info">
                                    	<p>30GB国内</p>
                                        <p>APP视频定向流量（爱奇艺）</p>
                                    </div>
                                    <div class="price">0元/月</div>
                                </div>
                                <div class="club-renwokan-price club-renwokan-price-disable">
                                    <div class="info">
                                    	<p>30GB国内</p>
                                        <p>APP视频定向流量（爱奇艺）</p>
                                    </div>
                                    <div class="price">0元/月</div>
                                </div>
                            </div>
                            <div class="club-renwokan-title-rule">温馨提示：</div>
                            <ol class="club-renwokan-rule">
                            	<li>新卡激活后套餐立即生效，首月免月费，次月起月初一次性扣费，变更套餐或变更视频APP次月生效。</li>
                            	<li>视频流量仅可在国内使用（不含港澳台）。</li>
                            	<li>当余额不足时，做停机处理。</li>
                            	<li>视频流量当月清零、不能分享、不能转赠，其他业务规则以当地为准，详询10086。</li>
                            </ol>-->
                            
                            <!-- 我已领取 -->
                            <!--<div class="club-school-title">我已领取</div>
                            <div class="club-school-geted-block">
                                <div class="club-school-geted">
                                    <p class="servicelogo"><img src="image/logo/logo_iqiyi.png" /></p>
                                    <p class="servicename">爱奇艺视频</p>
                                </div>
                                <div class="club-school-geted">
                                    <p class="productname">视频定向流量视频定向流量视频定向流量</p>
                                    <p class="productname">10.5元/月</p>
                                </div>
                                <div class="club-school-geted-btn">
                                    <p onClick="window.location='product_change.html'">定向方向变更</p>
                                </div>
                            </div>
                            <div class="club-school-title-rule">会员介绍：</div>
                            <ol class="club-school-rule">
                            	<li>新卡激活后套餐立即生效，首月免月费，次月起月初一次性扣费，变更套餐或变更视频APP次月生效。</li>
                            	<li>视频流量仅可在国内使用（不含港澳台）。</li>
                            	<li>当余额不足时，做停机处理。</li>
                            	<li>视频流量当月清零、不能分享、不能转赠，其他业务规则以当地为准，详询10086。</li>
                            </ol>
                            
                            <div class="club-school-btn">立即领取</div>
                        </ul>
                        <ul style="display:none;">
                        	<div class="club-renwokan-title">请选择任我看定向产品</div>
                            <div class="club-renwokan-product" id="renwokan2">
                                <div class="swiper-container" id="product_renwokan2">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide select"><div class="logo"><img src="image/logo/logo_douyin.png" /><span class="ico_select"></span></div><span>抖音</span></div>
                                        <div class="swiper-slide"><div class="logo"><img src="image/logo/logo_ximalaya.png" /><span class="ico_select"></span></div><span>喜马拉雅</span></div>
                                        <div class="swiper-slide"><div class="logo"><img src="image/logo/logo_douyin.png" /><span class="ico_select"></span></div><span>抖音</span></div>
                                        <div class="swiper-slide"><div class="logo"><img src="image/logo/logo_douyin.png" /><span class="ico_select"></span></div><span>抖音</span></div>
                                        <div class="swiper-slide"><div class="logo"><img src="image/logo/logo_douyin.png" /><span class="ico_select"></span></div><span>抖音</span></div>
                                        <div class="swiper-slide"><div class="logo"><img src="image/logo/logo_douyin.png" /><span class="ico_select"></span></div><span>抖音</span></div>
                                    </div>
                                </div>
                                <div class="swiper-button-prev"></div>
                                <div class="swiper-button-next"></div>
                            </div>-->
                            
                            <!-- 订购 -->
                            <!--<div class="club-renwokan-title">订购</div>
                            <div class="club-renwokan-price-block">
                                <div class="club-renwokan-price club-renwokan-price-select">
                                    <div class="info">
                                    	<p>30GB国内</p>
                                        <p>APP视频定向流量（爱奇艺）</p>
                                    </div>
                                    <div class="price">0元/月</div>
                                </div>
                                <div class="club-renwokan-price">
                                    <div class="info">
                                    	<p>30GB国内</p>
                                        <p>APP视频定向流量（爱奇艺）</p>
                                    </div>
                                    <div class="price">0元/月</div>
                                </div>
                            </div>
                            <div class="club-renwokan-title-rule">温馨提示：</div>
                            <ol class="club-renwokan-rule">
                            	<li>新卡激活后套餐立即生效，首月免月费，次月起月初一次性扣费，变更套餐或变更视频APP次月生效。</li>
                            	<li>视频流量仅可在国内使用（不含港澳台）。</li>
                            	<li>当余额不足时，做停机处理。</li>
                            	<li>视频流量当月清零、不能分享、不能转赠，其他业务规则以当地为准，详询10086。</li>
                            </ol>-->
                            
                            <!-- 我已订购 -->
                            <!--<div class="club-school-title">我已订购</div>
                            <div class="club-school-geted-block">
                                <div class="club-school-geted">
                                    <p class="servicelogo"><img src="image/logo/logo_iqiyi.png" /></p>
                                    <p class="servicename">爱奇艺视频</p>
                                </div>
                                <div class="club-school-geted-btn">
                                    <p onClick="window.location='product_change.html'">定向方向变更</p>
                                </div>
                            </div>
                            <div class="club-school-title-rule">会员介绍：</div>
                            <ol class="club-school-rule">
                            	<li>新卡激活后套餐立即生效，首月免月费，次月起月初一次性扣费，变更套餐或变更视频APP次月生效。</li>
                            	<li>视频流量仅可在国内使用（不含港澳台）。</li>
                            	<li>当余额不足时，做停机处理。</li>
                            	<li>视频流量当月清零、不能分享、不能转赠，其他业务规则以当地为准，详询10086。</li>
                            </ol>
                            
                            <div class="club-school-btn">立即订购</div>-->
                        </ul>
                    </div>
            	</div>
    </div>
    
    
    <!--登录提示-->
    <div class="msgbg" id="login" style="display:none;">
        <div class="login">
        	<p>用户登录</p>
            <div class="login-block">
            	<div class="phone"><input placeholder="请输入广东移动手机号码" type="tel" id="phone" /></div>
                <div class="authcode">
                    <input placeholder="请输入验证码" id="authcode" />
                    <div class="getcode"><button id="getcode" onClick="invokeSettime(getcode);">获取验证码</button></div>
                </div>
                <div class="login_btn_block">
                  <button class="login_btn" id="login_btn">马上登录</button>
                </div>
                <div class="loginlink">
                	<li onClick="window.location='http://wap.gd.10086.cn/nwap/choseNumber/realName/index.jsps'">有校园卡<span>去激活&gt;</span></li>
                    <li>没有校园卡<span>去选卡&gt;</span></li>
                </div>
            </div>
        </div>
        <div class="msg_close"></div>
    </div>
    
    <!--发送请求-->
    <div class="msgbg" id="waiting" style="display:none;">
        <div class="waiting">
        	<div class="waiting_ani"></div>
            <div>正在发送请求</div>
        </div>
    </div>
    
    <!--订购异常-->
    <div class="msgbg" id="fail" style="display:none;">
        <div class="tips">
        	<div class="iconfail"></div>
            <div>业务办理异常</div>
            <div class="smalltxt">尊敬的客户，您申请办理的产品和您现有套餐存在互斥关系，暂不支持订购！</div>
            <div class="msgbtn">
            	<li class="btn-confirm" onClick="layer.closeAll();">确认并返回</li>
            </div>
        </div>
    </div>
    
    <!--订购成功-->
    <div class="msgbg" id="success" style="display:none;">
        <div class="tips">
        	<div class="iconsuccess"></div>
            <div>套餐激活成功</div>
            <div class="smalltxt">即可领取学霸套餐专享权益与定向流量包</div>
            <div class="msgbtn">
            	<li class="btn-cancel" onClick="layer.closeAll();">取消</li>
                <li class="btn-confirm" onClick="taocan_success();">前往领取</li>
            </div>
        </div>
    </div>
    
    <!--优惠购订购-->
    <div class="msgbg" id="dinggou" style="display:none;">
        <div class="tips">
            <div class="smalltxt">温馨提示</div>
            <div>您将订购爱奇艺1个月会员权益（10.99元/月）</div>
            <div>是否确认订购？</div>
            <div class="msgbtn">
            	<li class="btn-cancel" onClick="layer.closeAll();">取消</li>
                <li class="btn-confirm" onClick="dinggou_success();">确认</li>
            </div>
        </div>
    </div>

    
	<script src="js/jquery.min.js"></script>
    <script src="js/swiper.min.js"></script>
    <script src="js/rem.dev.js"></script>
    <script src="js/layer.js"></script>
    <script src="js/msgbox.js"></script>
    <script src="js/tab.js"></script>
    <script>
		var mySwiper1 = new Swiper('#school_nav', {
			slidesPerView: 'auto',
			centeredSlides: true,
			spaceBetween: '5%', 
			slideToClickedSlide:false,
			loop:true,
			//loopedSlides :3,
			observer:true,
			observeParents:true,
			nextButton: '#school_nav .swiper-button-next',
			prevButton: '#school_nav .swiper-button-prev',
			onSlideChangeEnd : function(swiper) {
				//获取图片id
				menuid = $('#school_nav .swiper-slide-active img').attr("class");
				menu();
			},
		})
		var mySwiper3_1 = new Swiper('#product_quanyi1', {
			slidesPerView: 5,
			spaceBetween: 10,
			autoHeight:true, 
			pagination: '.swiper-pagination',
			paginationClickable: true,
			nextButton: '#quanyi1 .swiper-button-next',
			prevButton: '#quanyi1 .swiper-button-prev',
			observer:true,
			observeParents:true,
		})
		var mySwiper3_2 = new Swiper('#product_quanyi2', {
			slidesPerView: 5,
			spaceBetween: 10,
			autoHeight:true, 
			pagination: '#quanyi2 .swiper-pagination',
			paginationClickable: true,
			nextButton: '#quanyi2 .swiper-button-next',
			prevButton: '#quanyi2 .swiper-button-prev',
			observer:true,
			observeParents:true,
		})
		var mySwiper4_1 = new Swiper('#product_renwokan1', {
			slidesPerView: 5,
			spaceBetween: 10,
			autoHeight:true, 
			pagination: '#renwokan1 .swiper-pagination',
			paginationClickable: true,
			nextButton: '#renwokan1 .swiper-button-next',
			prevButton: '#renwokan1 .swiper-button-prev',
			observer:true,
			observeParents:true,
		})
		var mySwiper4_2 = new Swiper('#product_renwokan2', {
			slidesPerView: 5,
			spaceBetween: 10,
			autoHeight:true, 
			pagination: '#renwokan2 .swiper-pagination',
			paginationClickable: true,
			nextButton: '#renwokan2 .swiper-button-next',
			prevButton: '#renwokan2 .swiper-button-prev',
			observer:true,
			observeParents:true,
		})
		
	</script>
    
</body>
</html>
