<!DOCTYPE>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" id="viewport"  />
<meta name="format-detection" content="telephone=no" />
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>校园专区</title>
<link href="style/swiper.min.css" rel="stylesheet" type="text/css" />
<link href="style/layer.css" rel="stylesheet" type="text/css" />
<link href="style/page.css" rel="stylesheet" type="text/css" />

</head>

<body class="layout bg-iqiyi" id="iqiyi_vip">
    <div class="indexpic"><img src="image/iqiyi_vip.jpg" /></div>
    <!--充送专区-->
    <div class="content-iqiyi">
        <div class="iqiyi-form">
        	<li>
            	<div><span>*</span>学生手机号</div>
                <div><input name="" type="tel" value="139****3333" disabled></div>
            </li>
            <li>
            	<div><span>*</span>学生姓名</div>
                <div><input name="" type="text" placeholder="请输入姓名"></div>
            </li>
            <li>
            	<div><span>*</span>出生年月</div>
                <div><input name="" type="tel" placeholder="1990" class="iqiyi-year"><span>-</span><input name="" type="tel" placeholder="01" class="iqiyi-day"></div>
            </li>
            <li>
            	<div><span>*</span>所在城市</div>
                <div><input name="" type="text" placeholder="北京"></div>
            </li>
            <li>
            	<div><span></span>学校名称</div>
                <div><input name="" type="text" placeholder="请输入所在学校全名"></div>
            </li>
            <li>
            	<div><span></span>学号</div>
                <div><input name="" type="text" placeholder="请输入您的学号"></div>
            </li>
        </div>
        <div class="iqiyi-school-btn">提交</div>
    </div>
    <div class="iqiyi-tips">本次优惠活动22周岁（含）及以下用户参加，为确保您的权益，请确认您的身份信息和姓名真实合法再提交。</div>
    

    
	<script src="js/jquery.min.js"></script>
    <script src="js/swiper.min.js"></script>
    <script src="js/rem.dev.js"></script>
    <script src="js/layer.js"></script>
    <script src="js/msgbox.js"></script>
    <script>
		$(document).ready(function(){
			var pageH = window.screen.availHeight - 280;
			$(".content-chongsong").css({"height":pageH});
		});
	</script>
</body>
</html>
