<!DOCTYPE>
<html xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" id="viewport" />
		<meta name="format-detection" content="telephone=no" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>校园专区</title>
		<link href="style/page.css" rel="stylesheet" type="text/css" />

	</head>

	<body class="layout indexbg">
		<div class="indexpic">
			<div class="headnav"><span>我的</span></div>
			<div><img src="image/head-img.png" /></div>
		</div>

		<div class="cont-page">
			<div class="title content-product-title">
				<div class="title-txt">特惠权益活动</div>
			</div>
			<div class="migu-product">
				<div class="title page-product-title">
					<div class="titleline-l"></div>
					<div class="title-txt">咪咕权益大放送</div>
					<div class="titleline-r"></div>
				</div>
				<div class="page-item">
					<div class="item-list">
						<div class="app-item">
							<img src="image/app-img01.png" />
						</div>
						<h3>我要当学霸</h3>
						<p>阅读会员免费领</p>
					</div>
					<div class="item-list">
						<div class="app-item">
							<img src="image/app-img02.png" />
						</div>
						<h3>最爱看直播</h3>
						<p>精彩内容免费看</p>
					</div>
					<div class="item-list">
						<div class="app-item">
							<img src="image/app-img03.png" />
						</div>
						<h3>音乐聚宝盆</h3>
						<p>歌曲任你听</p>
					</div>
					<div class="item-list">
						<div class="app-item">
							<img src="image/app-wait.png" />
						</div>
						<h3>游戏</h3>
						<p>歌曲任你听</p>
					</div>

				</div>
			</div>
			
			<div class="school-product">
				<div class="title page-product-title">
					<div class="titleline-l"></div>
					<div class="title-txt">校园权益特惠</div>
					<div class="titleline-r"></div>
				</div>
				<div class="page-item">
					<div class="item-list">
						<div class="app-item">
							<img src="image/app-taobao.png" />
						</div>
						<h3>288元大礼包</h3>
						<p>淘宝大礼包</p>
						<p>立即领</p>
					</div>
					<div class="item-list">
						<div class="app-item">
							<img src="image/app-hongbao.png" />
						</div>
						<h3>20元红包</h3>
						<p>支付宝红包</p>
						<p>免费领</p>
					</div>
					<div class="item-list">
						<div class="app-item">
							<img src="image/app-hebao.png" />
						</div>
						<h3>20元和包券</h3>
						<p>和包券任你拿</p>
					</div>
					<div class="item-list">
						<div class="app-item">
							<img src="image/app-wait.png" />
						</div>
						<h3>游戏</h3>
						<p>歌曲任你听</p>
					</div>
					<div class="item-list">
						<div class="app-item">
							<img src="image/app-wait.png" />
						</div>
						<h3>游戏</h3>
						<p>歌曲任你听</p>
					</div>
					<div class="item-list">
						<div class="app-item">
							<img src="image/app-wait.png" />
						</div>
						<h3>游戏</h3>
						<p>歌曲任你听</p>
					</div>
					<div class="item-list">
						<div class="app-item">
							<img src="image/app-wait.png" />
						</div>
						<h3>游戏</h3>
						<p>歌曲任你听</p>
					</div>
					<div class="item-list">
						<div class="app-item">
							<img src="image/app-wait.png" />
						</div>
						<h3>游戏</h3>
						<p>歌曲任你听</p>
					</div>

				</div>
			</div>

		</div>

		<script src="js/jquery.min.js"></script>
		<script src="js/rem.dev.js"></script>
	</body>

</html>