<!DOCTYPE>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" id="viewport"  />
<meta name="format-detection" content="telephone=no" />
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>校园专区</title>
<link href="style/swiper.min.css" rel="stylesheet" type="text/css" />
<link href="style/layer.css" rel="stylesheet" type="text/css" />
<link href="style/page.css" rel="stylesheet" type="text/css" />

</head>

<body class="layout mybg" id="my">
    <div class="myhead">
        <li class="person_pic"><span class="person_back"></span><img src="image/person_pic.jpg" /></li>
        <li class="logininfo"><span>13900000000</span><span class="logoutbtn">退出</span></li>
    </div>
    
    <!--我的权益-->
    <div class="content-my">
        <div class="title content-my-title">
            <!--<div class="titleline-l"></div>-->
            <div class="title-txt">我的权益</div>
            <!--<div class="titleline-r"></div>-->
        </div>
        <div class="mybenifit">
        	<li><span class="service_logo"><img src="image/logo/logo_iqiyi.png" /></span><span class="service_name">爱奇艺月会员权益爱奇艺月会员权益爱奇艺月会员权益</span></li>
            <li><span class="mybenifit-btn" onClick="window.location='quanyi_change.html'">我要变更</span></li>
        </div>
        <div class="mybenifit">
        	<li><span class="service_logo"><img src="image/logo/logo_iqiyi.png" /></span><span class="service_name">爱奇艺月会员权益</span></li>
            <li><span class="mybenifit-btn" onClick="window.location='quanyi_change.html'">我要变更</span></li>
        </div>
        <div class="mybenifit">
        	<li><span class="service_logo"><img src="image/logo/logo_iqiyi.png" /></span><span class="service_name">爱奇艺月会员权益</span></li>
            <li><span class="mybenifit-btn" onClick="window.location='quanyi_change.html'">我要变更</span></li>
        </div>
    </div>
    
    <!--我的优惠-->
    <div class="content-my">
        <div class="title content-my-title">
           <!-- <div class="titleline-l"></div>-->
            <div class="title-txt">我的优惠</div>
            <!--<div class="titleline-r"></div>-->
        </div>
        <div class="mybenifit-item">
            <li>
                <div class="item-pic"><img src="image/club_quan_hebao.png" /></div>
                <div class="item-info"><span>15元万达电影券元万达电影券元万达电影券</span><span class="mybenifit-item-btn" onClick="window.location='success.html'">我要领取</span></div>
            </li>
            <li>
                <div class="item-pic"><img src="image/club_quan_film.png" /></div>
                <div class="item-info"><span>万达影券</span><span class="mybenifit-item-btn mybenifit-item-btn-disable">已领取</span></div>
            </li>
        </div>
    </div>
    
    <!--我的已办-->
    <div class="content-my">
        <div class="title content-my-title">
           <!-- <div class="titleline-l"></div>-->
            <div class="title-txt">我的已办</div>
            <!--<div class="titleline-r"></div>-->
        </div>
        <div class="mybenifit">
        	<li><span class="service_logo"><img src="image/logo/logo_iqiyi.png" /></span><span class="service_name">3G爱奇艺定向流量包爱奇艺定向流量包</span><span class="service_price">19.99元/月</span></li>
            <li><span class="mybenifit-link" onClick="window.location='product_change.html'">变更方向</span></li>
        </div>
        <div class="mybenifit">
        	<li><span class="service_logo"><img src="image/logo/logo_iqiyi.png" /></span><span class="service_name">优酷月会员权益</span><span class="service_price">9元/月</span></li>
            <li><span class="mybenifit-link" onClick="window.location='product_change.html'">变更方向</span></li>
        </div>
    </div>
    
    <!--我的收藏-->
    <div class="content-my">
        <div class="title content-my-title">
            <!--<div class="titleline-l"></div>-->
            <div class="title-txt">我的收藏</div>
            <!--<div class="titleline-r"></div>-->
        </div>
        <div class="content-choice-item">
            <li>
                <div class="item-pic"><img src="image/content_choice_pic01.png" /></div>
                <div class="item-title">实习生</div>
                <div class="item-intro">教你迈出学校大门后，该如何做一个职场新人</div>
            </li>
            <li>
                <div class="item-pic"><img src="image/content_choice_pic01.png" /></div>
                <div class="item-title">实习生</div>
                <div class="item-intro">教你迈出学校大门后，该如何做一个职场新人教你迈出学校大门后教你迈出学校大门后教你迈出学校大门后</div>
            </li>
            <li>
                <div class="item-pic"><img src="image/content_choice_pic01.png" /></div>
                <div class="item-title">实习生</div>
                <div class="item-intro">教你迈出学校大门后，该如何做一个职场新人</div>
            </li>
            <li>
                <div class="item-pic"><img src="image/content_choice_pic01.png" /></div>
                <div class="item-title">实习生</div>
                <div class="item-intro">教你迈出学校大门后，该如何做一个职场新人教你迈出学校大门后教你迈出学校大门后教你迈出学校大门后</div>
            </li>
        </div>
    </div>
    

    
	<script src="js/jquery.min.js"></script>
    <script src="js/swiper.min.js"></script>
    <script src="js/rem.dev.js"></script>
    <script src="js/layer.js"></script>
    <script src="js/msgbox.js"></script>
</body>
</html>
