<!DOCTYPE>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" id="viewport"  />
<meta name="format-detection" content="telephone=no" />
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>校园专区</title>
<link href="style/swiper.min.css" rel="stylesheet" type="text/css" />
<link href="style/layer.css" rel="stylesheet" type="text/css" />
<link href="style/page.css" rel="stylesheet" type="text/css" />

</head>

<body class="layout pagebg">
    <div class="pagetips">
        <div class="success"></div>
        <div class="pagetips_txt">尊敬的用户：您已经成功提交<span>30GB国内APP视频定向流量包（爱奇艺）</span>订购申请。成功受理信息请以中国移动下发短信通知为准。</div>
    </div>
    
    <div class="recommend">
        <div class="title">爱奇艺热播抢先看</div>
        <div class="logo"><img src="image/logo/logo_recommend_iqiyi.png" /></div>
        <div class="recommendlist">
        	<li>
            	<div><img src="image/film.jpg" /></div>
                <div class="filmname">跨界歌王</div>
                <div class="filmintro">爱奇艺热播抢先看</div>
            </li>
            <li>
            	<div><img src="image/film.jpg" /></div>
                <div class="filmname">跨界歌王</div>
                <div class="filmintro">爱奇艺热播抢先看爱奇艺热播抢先看爱奇艺热播抢先看</div>
            </li>
            <li>
            	<div><img src="image/film.jpg" /></div>
                <div class="filmname">跨界歌王</div>
                <div class="filmintro">爱奇艺热播抢先看</div>
            </li>
            <li>
            	<div><img src="image/film.jpg" /></div>
                <div class="filmname">跨界歌王</div>
                <div class="filmintro">爱奇艺热播抢先看爱奇艺热播抢先看爱奇艺热播抢先看</div>
            </li>
        </div>
    </div>

    
	<script src="js/jquery.min.js"></script>
    <script src="js/swiper.min.js"></script>
    <script src="js/rem.dev.js"></script>
    <script src="js/layer.js"></script>
    <script src="js/msgbox.js"></script>
</body>
</html>
