<!DOCTYPE>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" id="viewport"  />
<meta name="format-detection" content="telephone=no" />
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>校园专区</title>
<link href="style/swiper.min.css" rel="stylesheet" type="text/css" />
<link href="style/layer.css" rel="stylesheet" type="text/css" />
<link href="style/page.css" rel="stylesheet" type="text/css" />

</head>

<body class="layout indexbg">
    <div class="video-list">
        <div class="indexpic">
            <img src="image/film.jpg" />
        </div>
        <div class="videotitle">饭局遭长辈要求表演节目，她竟然当众做出这事</div>
        <div class="videolabel"><span>搞笑</span><span>搞笑</span></div>
        <div class="videoinfo">
            <li><span class="time">2018-05-15 11:18:27</span><span class="watchtimes">2412</span></li>
            <li><span class="vote">123</span><span class="favor"></span></li>
        </div>
    </div>
    
    <div class="video-list">
        <div class="indexpic">
            <img src="image/film.jpg" />
        </div>
        <div class="videotitle">饭局遭长辈要求表演节目，她竟然当众做出这事</div>
        <div class="videolabel"><span>搞笑</span><span>搞笑</span></div>
        <div class="videoinfo">
            <li><span class="time">2018-05-15 11:18:27</span><span class="watchtimes">2412</span></li>
            <li><span class="vote">123</span><span class="favor"></span></li>
        </div>
    </div>
    
    <div class="video-list">
        <div class="indexpic">
            <img src="image/film.jpg" />
        </div>
        <div class="videotitle">饭局遭长辈要求表演节目，她竟然当众做出这事</div>
        <div class="videolabel"><span>搞笑</span><span>搞笑</span></div>
        <div class="videoinfo">
            <li><span class="time">2018-05-15 11:18:27</span><span class="watchtimes">2412</span></li>
            <li><span class="vote">123</span><span class="favor"></span></li>
        </div>
    </div>
    
    <div class="video-list">
        <div class="indexpic">
            <img src="image/film.jpg" />
        </div>
        <div class="videotitle">饭局遭长辈要求表演节目，她竟然当众做出这事</div>
        <div class="videolabel"><span>搞笑</span><span>搞笑</span></div>
        <div class="videoinfo">
            <li><span class="time">2018-05-15 11:18:27</span><span class="watchtimes">2412</span></li>
            <li><span class="vote">123</span><span class="favor"></span></li>
        </div>
    </div>
    

    
	<script src="js/jquery.min.js"></script>
    <script src="js/swiper.min.js"></script>
    <script src="js/rem.dev.js"></script>
    <script src="js/layer.js"></script>
    <script src="js/msgbox.js"></script>
</body>
</html>
