<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" id="viewport"  />
		<meta name="format-detection" content="telephone=no" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>校园专区</title>
		<link href="style/page.css" rel="stylesheet" type="text/css" />
	
	</head>
	<body>
		<div class="win-shadow">
			<div class="winCont">
				<h3 class="win-title">
					<span class="t-line"><img src="image/t-lineL.png"/></span>
					<span>温馨提示</span>
					<span class="t-line"><img src="image/t-lineR.png"/></span>
				</h3>
				<div class="win-text">
					<p>您QQ(1606600766)目前选择办理套餐</p>
					<div class="pro-text">
						10.99元校园体验版腾讯视频会员权益
					</div>
					<p>是否确定办理？</p>
				</div>
				<div class="winBtn">
					<div class="win-noBtn">
						否
					</div>
					<div class="win-yesBtn">
						是
					</div>
				</div>
			</div>
		</div>
		
		<div class="win-shadow hide">
			<div class="winCont">
				<h3 class="win-title">
					<span>请输入您的QQ号码</span>
				</h3>
				<div class="win-text">
					<input type="text" />
				</div>
				<div class="winBtn">
					<div class="win-sureBtn">
						确　认
					</div>
				</div>
			</div>
		</div>
		
		<script src="js/rem.dev.js"></script>
	</body>
</html>
