body {
  background-color: #a3e6fe;
}
body header {
  width: 10rem;
  height: 8.8667rem;
  position: relative;
}
body header img,
body header span,
body header .gotGift {
  z-index: 2;
}
body header .doc {
  position: absolute;
  top: 1.08rem;
  left: 50%;
  width: 7.3467rem;
  transform: translateX(-50%);
}
body header .china {
  position: absolute;
  top: 0.32rem;
  left: 0.28rem;
  width: 2.2267rem;
}
body header span {
  position: absolute;
  top: 0.24rem;
  right: 0.1333rem;
  width: 0.7467rem;
  height: 0.4rem;
  background-color: rgba(0, 0, 0, 0.3);
  font-family: FZLTHJW--GB1-0;
  font-size: 0.24rem;
  font-weight: normal;
  font-stretch: normal;
  line-height: 0.4rem;
  text-align: center;
  letter-spacing: 0rem;
  color: #ffffff;
}
body header .gotGift {
  position: absolute;
  top: 6.3333rem;
  right: 0;
  width: 3.3467rem;
  height: 0.7733rem;
  text-align: center;
  line-height: 0.7733rem;
  background-color: #feef00;
  border-radius: 0.3467rem 0 0 0.3467rem;
  font-family: FZLTHJW--GB1-0;
  font-size: 0.44rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0rem;
  color: #095643;
}
body header .mid {
  position: absolute;
  top: 2.5067rem;
  right: 0;
  width: 10rem;
}
body header .cloudFloor {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 0;
}
body header .cloudMiddle {
  position: absolute;
  top: 0;
  right: 1.2267rem;
}
body header .cloudSmall {
  position: absolute;
  top: 0.5467rem;
  left: 3.16rem;
  z-index: 1;
}
body header .kuai1 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 0.6667rem;
  height: 2.6667rem;
  background-color: #66d5fe;
}
body article {
  width: 9.0667rem;
  height: 2.5333rem;
  background-color: #f19149;
  margin: 0 0.4533rem;
  overflow: hidden;
  color: #ffffff;
}
body article .top {
  display: flex;
  align-items: center;
  margin-top: 0.24rem;
  margin-left: 0.3333rem;
  margin-bottom: 0.4267rem;
}
body article .top h3 {
  display: inline-block;
  margin-right: 0.2667rem;
  font-family: FZLTZCHK--GBK1-0;
  font-size: 0.6133rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0rem;
}
body article .top span {
  background-color: #b55918;
  padding: 0 0.2533rem 0 0.12rem;
  font-family: FZLTHJW--GB1-0;
  font-size: 0.4rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0rem;
}
body article p {
  margin-left: 0.4133rem;
  font-family: FZLTHJW--GB1-0;
  font-size: 0.4rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0rem;
}
body section {
  margin-top: 0.5333rem;
}
body ul {
  width: 9.0667rem;
  margin: 0 auto;
}
body ul .col-3 {
  float: left;
  margin-top: 0.1333rem;
  width: 2.9067rem;
  height: 3.6533rem;
  overflow: hidden;
  background-color: #fffbf3;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin-right: 0.16rem;
}
body ul .col-3:nth-child(3n) {
  margin-right: 0;
}
body ul .col-3 img {
  width: 1.2933rem;
  height: 1.2933rem;
  margin: 0.44rem 0 0.2933rem;
}
body ul .col-3 span {
  font-family: FZLTHJW--GB1-0;
  font-size: 0.32rem;
  font-weight: normal;
  font-stretch: normal;
  color: #666666;
}
body ul .col-3 .chunkBtn {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.5867rem;
  background-color: #f19149;
  text-align: center;
  line-height: 0.5867rem;
  color: #ffffff;
}
body ul .col-2 {
  float: left;
  margin-right: 0.1067rem;
  width: 4.48rem;
  height: 2.3733rem;
  margin-top: 0.1333rem;
  position: relative;
  background-color: #fff;
  overflow: hidden;
}
body ul .col-2:nth-child(2n) {
  margin-right: 0;
}
body ul .col-2 img {
  position: absolute;
  top: 0.4667rem;
  left: 0.3867rem;
  width: 1.3333rem;
  height: 1.3333rem;
}
body ul .col-2 .leftText {
  position: relative;
  top: 0.6667rem;
  left: 2rem;
  font-family: FZLTHJW--GB1-0;
  font-size: 0.3733rem;
  font-weight: normal;
  font-stretch: normal;
  line-height: 0.48rem;
  letter-spacing: 0rem;
  color: #2e2d2d;
}
body ul .corner {
  position: absolute;
  right: -0.92rem;
  bottom: -0.3733rem;
  width: 2.4rem;
  height: 1.2rem;
  text-align: center;
  padding-top: 0.08rem;
  background-color: #b0834c;
  color: #fff;
  font-size: 0.2667rem;
  transform: rotateZ(-42deg);
}
body .goodGift {
  margin-top: 0;
  transform: translateY(-0.4rem);
  z-index: 111;
}
body .play {
  margin-top: 0.1333rem;
}
body .play article {
  background-color: #b0834c;
}
body .play article span {
  background-color: #7e6b5a;
}
body .feel article {
  background-color: #f29c9f;
}
body .feel article span {
  background-color: #cd4a4f;
}
body .feel .col-3 .chunkBtn {
  background-color: #cd4a4f;
}
body .feel .corner {
  background-color: #cd4a4f;
}
body .quality article {
  background-color: #434343;
}
body .quality article span {
  background-color: #7d7d7d;
}
body .quality .corner {
  background-color: #434343;
}
body .manner article {
  background-color: #8fc31f;
}
body .manner article span {
  background-color: #638c0b;
}
body .manner .corner {
  background-color: #8fc31f;
}
body .welfare article {
  background-color: #f8b551;
}
body .welfare article span {
  background-color: #f19149;
}
body .welfare .corner {
  background-color: #f19149;
}
body footer {
  margin-top: 0.6933rem;
  text-align: center;
}
body footer .text {
  display: inline-block;
  width: 2.1333rem;
}
body footer > div {
  transform: translateY(0.24rem);
  margin: 0 auto;
  width: 9.08rem;
  height: 4.1467rem;
  padding: 0.7467rem 0.2667rem 0.5333rem;
  overflow: hidden;
  background-color: #fffbf3;
  border-radius: 0.0267rem;
  z-index: 2;
}
body footer > div p {
  overflow-y: scroll;
  text-align: left;
  height: 2.8133rem;
  font-family: FZLTHJW--GB1-0;
  font-size: 0.48rem;
  font-weight: normal;
  font-stretch: normal;
  line-height: 0.4rem;
  letter-spacing: 0rem;
  color: #4e4e4e;
}
body footer img {
  width: 100%;
}
