<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0,maximum-scale=1,minimum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=8">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Cache" content="no-cache">
    <title>Document</title>
    <link rel="stylesheet" href="./css/base.css">
    <link rel="stylesheet" href="./css/style.css">
</head>

<body class="index">
    <div class="phone">186****0685</div>
    <img src="./img/bg.png" alt="" class="bg">
    <img src="./img/left.png" alt="" class="left">
    <img src="./img/right.png" alt="" class="right">
    <i class="dot dot1"></i>
    <i class="dot dot2"></i>
    <i class="dot dot3"></i>
    <i class="dot dot4"></i>
    <i class="dot dot5"></i>
    <i class="dot dot6"></i>
    <i class="dot dot7"></i>
    <i class="dot dot8"></i>
    <i class="dot dot9"></i>
    <div class="part part1">
        <img src="./img/location.png" alt="">
        <p class="pulse"></span>
            <p class="pulse1"></span>
    </div>
    <div class="part part2">
        <img src="./img/location.png" alt="">
        <p class="pulse"></span>
            <p class="pulse1"></span>
    </div>
    <div class="part part3">
        <img src="./img/location.png" alt="">
        <p class="pulse"></span>
            <p class="pulse1"></span>
    </div>
    <div class="part part4">
        <img src="./img/location.png" alt="">
        <p class="pulse"></span>
            <p class="pulse1"></span>
    </div>
    <div class="part part5">
        <img src="./img/location.png" alt="">
        <p class="pulse"></span>
            <p class="pulse1"></span>
    </div>
</body>

</html>
<script src="./js/rem.js"></script>
<script>
    for (let i = 0;i < 40;i++) {
        let dot = document.createElement("i")
        dot.classList.add('dot')
        let w = sum(0.02,0.06) + 'rem'
        dot.style.width = w
        dot.style.height = w
        let x = sum(1,13) + 'rem'
        let y = sum(0,7.5) + 'rem'
        dot.style.top = x
        dot.style.left = y
        dot.style.animationDelay = sum(1,3) + 's'
        console.log(document.querySelector('.index'))
        document.querySelector('.index').appendChild(dot)
    }
    function sum(m, n) {
        var num = Math.random() * (m - n) + n;
        return num
    }
</script>