<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0,maximum-scale=1,minimum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=8">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Cache" content="no-cache">
    <title>Document</title>
    <link rel="stylesheet" href="./css/base.css">
    <link rel="stylesheet" href="./css/style.css">
</head>

<body id="index">
    <div class="content">
        <form>
            <div class="item">
                <input type="text" placeholder="中国移动手机号">
            </div>
            <div class="item">
                <input type="text" placeholder="6位数验证码">
                <div class="code">发送验证码</div>
            </div>
        </form>
        <div class="btn submit">
            前3月免单，就是任性
        </div>
    </div>
    <div class="blackDocs activity">
        <div class="main">
            <h2>活动说明</h2>
            <p>
                1、活动期内，首次参与该优惠活动的客户，自成功订购搜狐9元15G定向流量包当月起，首月获赠7天搜狐视频体验会员（搜狐视频APP专属），退订后停止赠送；
                <br />2、订购成功后5个工作日内，首月7天搜狐视频体验会员赠送至对应手机号的搜狐视频账号中（搜狐将获取您的手机号码发放权益，点击办理即授权页面提供号码）；
                <br />3、首次订购搜狐定向流量包的小伙伴，前三个月订购费用均于每月底前全额返还，三个月后原价畅享9元15GB搜狐定向流量包，畅快体验；
                <br />4、每位用户仅可参加一次本优惠活动；
                <br />5、此次活动为中国移动客户专享，在参加活动时请保证电话畅通不欠费
                <br />6、本活动与苹果公司（Apple Inc.）无关；
                <br />7、如小伙伴中途退订，将于次月生效，生效后将不再享受对应优惠哟。
                <br />8、活动期内，安徽、内蒙古、浙江、辽宁、宁夏、湖北、山西、陕西、黑龙江、四川、云南、新疆、广西手机用户首次订购直接享受前三月费用减免优惠，第四个月开始正常收费。
                <br />9、江西用户暂不参与此优惠活动。
                <br />10、搜狐视频APP包含原搜狐沙发视频内容。
            </p>
        </div>
    </div>
    <div class="blackDocs orient">
        <div class="main">
            <h2>定向流量使用说明</h2>
            <p>
                <span class="mb8">搜狐视频免流范围：</span>
                <span>中国移动2G/3G/4G网络下，访问搜狐视频APP中的特定视频内容。但不包括以下内容：</span>
                1、客户端启动、登录及客户端内的图片、文字、视频内插播广告、弹幕、第三方广告、主播类视频、在线观看/下载/缓存第三方视频等。
                <br />2、手机号码处于国际或港澳台地区漫游状态下产生的流量。
                <br />3、利用手机设置代理服务器或VPN等方式，访问APP所产生的流量。
                <br />4、用无线上网卡、平板电脑、CPE、MIFI等非手机设备使用产生的流量。
                <br />5、手机作为热点使用产生的流量。
                <br />6、使用CMWAP接入点方式，访问视频APP所产生的流量。
            </p>
        </div>
    </div>
    <div class="businessDocs">
        <div class="main">
            <h2>业务说明</h2>
            <p>
                1、产品采用话费支付，订购后立即生效，流量全额提供，每月的定向流量可供当月本机使用，使用范围为国内（不含港澳台）。
                <br />2、请在WIFI功能关闭下使用免流功能，避免WIFI和移动网络频繁切换导致免流量服务启动失败。
                <br />3、变更套餐次月生效，每月仅支持一次变更，不支持多次变更，具体规则请咨询当地10086为准。
                <br />4、了解业务规则或退订业务，请详询10086或关注微信公众号“任我看助手”操作。
                <br />5、本活动中流量当月清零、不能分享、不能转赠。
                <br />6、本产品的流量额度最高可使用到每月上网流量封顶值，且与其他上网功能产生的流量共享封顶值，用户号码封顶值与其使用的套餐有关，具体咨询10086。
                <br />7、当通用流量使用达到降速阀值并降速后，定向流量会同时降速，用户订购提速服务后，降速解除。
            </p>
        </div>
    </div>
    <div class="pupop">
        <div class="success">
            <img src="./img/smile.png" class="icon">
            <img src="./img/close.png" class="close">
            <p>
                <span class="hh">您已成功提交</span>
                成功受理信息请以中国移动的短信通知为准。目前由于订购用户较多，短信通知可能会有时延，请耐心等待。如有疑问，请咨询<span>10086</span>。
            </p>
        </div>
        <div class="fail">
            <img src="./img/fail.png" class="icon">
            <img src="./img/close.png" class="close">
            <p>
                失败原因以后台实际原因为准 XXX
            </p>
        </div>
        <div class="enter">
            <h2>提示</h2>
            <img src="./img/close.png" class="close">
            <p>
                您即将订购<span>9元15GB</span>搜狐定向流量包，现在办理享受前<span>3个月</span>费赠送优惠， 优惠到期后按照标准资费收取
                流量包生效首月赠送<span>7天搜狐视频会员</span>
            </p>
            <div class="btn">残忍拒绝</div>
            <div class="btn light">立即订购</div>
        </div>
    </div>
</body>

</html>
<script src="./js/rem.js"></script>
<script src="./js/zepto.min.js"></script>
<script>
    var times = Number(60)
    $('.code').click(function () {
        if (times < 60) return
        $('.code').css('color', '#999')
        times--
        $(this).html(times + 's')
        var timess = setInterval(() => {
            times--
            $(this).html(times + 's')
            if (times == 0) {
                clearInterval(timess)
                times = 60
            }
        }, 1000)
    })
    $('.submit').click(function () {
        // openPupop('fail')
        // openPupop('success')
        // openPupop('enter')

        if (!window.aaa) {
            window.aaa = 0
        }
        switch (window.aaa++) {
            case 1:
                openPupop('success')
                break
            case 2:
                openPupop('fail')
                break
            case 3:
                openPupop('enter')
                window.aaa = 0
                break
        }
    })

    $('.close').click(function () {
        closePupop()
    })

    function openPupop(name) {
        $('.pupop > div').hide()
        $('.pupop').show()
        $('.' + name).show()
    }

    function closePupop() {
        $('.pupop').hide()
        $('.pupop > div').hide()
    }
    // 弹窗时,禁止页面滚动
    $('.pupop').on('touchmove', function (event) {
        event.preventDefault()
    })
</script>