<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=8">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Cache" content="no-cache">
    <title>Document</title>
    <link rel="stylesheet" href="./css/base.css">
    <link rel="stylesheet" href="./css/style.css">
</head>

<body id="index">
    <header>
        <img src="./img/top_bg.jpg" alt="">
    </header>
    <div class="search">
        <input type="text" placeholder="请输入作品名称或关键词搜索">
        <img src="./img/search.png" alt="">
    </div>
    <div class="list">
        <ul class="">
            <li>
                <div class="top">
                    <img src="./img/list_img.png" alt="">
                    <i class="pause-icon"></i>
                    <div class="corner">
                        <img src="./img/hot_left.png" alt="" class="">
                        <p>Top<span>1</span></p>
                    </div>
                    <p>
                        作品名称最火彩铃都在下
                    </p>
                </div>
                <div class="down">
                    <p>设置量：<span>1299458</span></p>
                    <em>设为彩铃</em>
                </div>
            </li>
            <li>
                <div class="top">
                    <img src="./img/list_img.png" alt="">
                    <i class="pause-icon"></i>
                    <div class="corner">
                        <img src="./img/hot_left.png" alt="" class="">
                        <p>Top<span>2</span></p>
                    </div>
                    <p>
                        作品名称最火彩铃都在下品名称最火彩铃都在下品名称最火彩铃都在下
                    </p>
                </div>
                <div class="down">
                    <p>设置量：<span>1299458</span></p>
                    <em>设为彩铃</em>
                </div>
            </li>
            <li>
                <div class="top">
                    <img src="./img/list_img.png" alt="">
                    <i class="pause-icon"></i>
                    <div class="corner">
                        <img src="./img/hot_left.png" alt="" class="">
                        <p>Top<span>3</span></p>
                    </div>
                    <p>
                        作品名称最火彩铃都在下
                    </p>
                </div>
                <div class="down">
                    <p>设置量：<span>1299458</span></p>
                    <em>设为彩铃</em>
                </div>
            </li>
            <li>
                <div class="top">
                    <img src="./img/list_img.png" alt="">
                    <i class="pause-icon"></i>
                    <div class="corner">
                        <img src="./img/hot_left.png" alt="" class="">
                        <p>Top<span>4</span></p>
                    </div>
                    <p>
                        作品名称最火彩铃都在下
                    </p>
                </div>
                <div class="down">
                    <p>设置量：<span>1299458</span></p>
                    <em>设为彩铃</em>
                </div>
            </li>
        </ul>
        <div class="btn">
            点击查看更多
        </div>
    </div>
    <div id="singleList" class="singleList">
        <ul>
            <li>
                <div class="top">
                    <img src="./img/list_img.png" alt="">
                    <i class="pause-icon"></i>
                    <div class="corner">
                        <img src="./img/hot_left.png" alt="" class="">
                        <p>TOP<span>1</span></p>
                    </div>
                    <p>作品名称最火彩铃都在下</p>
                </div>
                <div class="down">
                    <em>设为彩铃</em>
                </div>
            </li>
            <li>
                <div class="top">
                    <img src="./img/list_img.png" alt="">
                    <i class="pause-icon"></i>
                    <div class="corner">
                        <img src="./img/hot_left.png" alt="" class="">
                        <p>TOP<span>2</span></p>
                    </div>
                    <p>
                        作品名称最火彩铃都在下
                    </p>
                </div>
                <div class="down">
                    <em>设为彩铃</em>
                </div>
            </li>
        </ul>
    </div>
    <div class="empty">
        <img src="./img/notFind.png" alt="">
        <div class="btn" style="font-size:.32rem; color:#656363; margin-top:.6rem;">
            &lt;&nbsp;返回活动主页
        </div>
    </div>
    <div class="pupop">
        <!-- 确认 -->
        <div class="submit">
            <img class="close" src="./img/close.png" alt="">
            <p>亲，你需要先开通视频彩铃功能，<br />
                （每月6元，首月赠送6元话费），<br />
                才可设置为自己的彩铃哟！</p>
            <!-- <div class="enterBtn">设为彩铃</div> -->
            <div class="btnGroup">
                <span class="close">在想想</span>
                <span>立即开通</span>
            </div>
        </div>
        <!-- 详情 -->
        <div class="detail">
            <img class="close" src="./img/close.png" alt="">
            <p>红衣女孩（2019燃烧吧团魂第四场视频彩铃）娓娓动听</p>
            <div class="flv">
                <i class="pause-icon"></i>
                <video poster="./img/list_img.png" src="./img/testMp4.mp4" preload="auto"></video>
            </div>
            <div class="enterBtn">设为彩铃</div>
            <div class="smallDocs">
                红衣女孩（2019燃烧吧团魂第四场视频彩铃）娓娓动听红衣女孩燃烧吧团魂第四场视频彩铃，红衣女孩（2019燃烧吧团魂第四场视频彩铃）娓娓动听，红衣女孩燃烧吧团魂第四场视频彩铃，红衣女孩（2019燃烧吧团魂第四场视频彩铃）娓娓动听，红衣女孩燃烧吧团魂第四场视频彩铃
                红衣女孩（2019燃烧吧团魂第四场视频彩铃）娓娓动听红衣女孩燃烧吧团魂第四场视频彩铃，红衣女孩（2019燃烧吧团魂第四场视频彩铃）娓娓动听，红衣女孩燃烧吧团魂第四场视频彩铃，红衣女孩（2019燃烧吧团魂第四场视频彩铃）娓娓动听，红衣女孩燃烧吧团魂第四场视频彩铃
            </div>
        </div>
    </div>
</body>

</html>
<script src="./js/rem.js"></script>
<script src="./js/zepto.min.js"></script>
<script>
    // 设为彩铃
    $('ul').on('click', 'em', function () {
        $('.pupop').show()
        $('.submit').show()
    })
    // 关闭弹窗
    $('.close').click(function () {
        $('.pupop').hide()
        $('.pupop > div').hide()
    })
    // 点击查看更多
    $('.btn').click(function () {
        var html = `            <li>
                <div class="top">
                    <img src="./img/list_img.png" alt="">
                    <i class="pause-icon"></i>
                    <div class="corner">
                        <img src="./img/hot_left.png" alt="" class="">
                        <p>Top<span>1</span></p>
                    </div>
                    <p>
                        作品名称最火彩铃都在下
                    </p>
                </div>
                <div class="down">
                    <p>
                        设置量：
                        <span>12458</span>
                    </p>
                    <em>设为彩铃</em>
                </div>
            </li><li>
                <div class="top">
                    <img src="./img/list_img.png" alt="">
                    <i class="pause-icon"></i>
                    <div class="corner">
                        <img src="./img/hot_left.png" alt="" class="">
                        <p>Top<span>1</span></p>
                    </div>
                    <p>
                        作品名称最火彩铃都在下
                    </p>
                </div>
                <div class="down">
                    <p>
                        设置量：
                        <span>12458</span>
                    </p>
                    <em>设为彩铃</em>
                </div>
            </li>`

        $('.list ul').append(html).append(html)
    })

    // 列表查看详情
    $('#index').on('click', '.top', function () {
        $('.pupop').show()
        $('.detail').show()
    })
    // 播放视频
    $('#index').on('click', '.flv .pause-icon', function () {
        $(this).hide()
        $(this).parents().children('video')[0].play();
    })
    // 搜索
    $('.search img').click(function () {
        $('.list').hide()
        // 找到的列表
        // $('.singleList').show()
        // 没有找到
        // $('.empty').show()
        if (!window.test1) {
            window.test1 = 1
        }
        // 测试代码
        $('.singleList').hide()
        $('.empty').hide()
        if (window.test1++ % 2 == 0) {
            $('.singleList').show()
        } else {
            $('.empty').show()
        }
    })
    // 弹窗时,禁止页面滚动
    $('.pupop').on('touchmove', function (event) {
        if (event.target.className.indexOf('smallDocs') === -1) {
            event.preventDefault()
        }
    })
</script>