<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>移动花卡联合会员</title>
    <link rel="stylesheet" href="css.css">
</head>

<body>
    <div class="card_page2">
        <div class="title"></div>
        <div class="content">
            <div class="tc last">
                <div class="select-logo">
                    <div class="part15">
                        <img class="btn1" src="./img/1group1-l.png" alt="">
                        <img class="btn2" src="./img/1group2-r.png" alt="">
                    </div>
                    <div class="part30">
                        <img class="btn1" src="./img/130-15Gnot.png" alt="">
                        <img class="btn2" src="./img/130Gselected.png" alt="">
                    </div>
                </div>
                <div class="tips-content-box">
                    <img src="./img/1appArr.png" alt="" class="tips-content">
                </div>
                <div class="input-box"><input type="text" placeholder="请输入手机号码"></div>
                <div class="input-box"><input type="text" placeholder="请输入短信验证码"><span class="code">
                        <p>发送验证码</p>
                    </span></div>
                <img src="./img/1btn1.png" alt="" class="tc-btn">
                <p class="desc-text">- 话费支付 -</p>
                <span class="checkDetail click1">点击查看详细说明>></span>
            </div>
            <!-- <div class="card_coupon"></div> -->
            <img src="./img/card-coupon.png" class="card_coupon">
        </div>
        <div class="bottom-bg"></div>

        <!--9元15G业务说明弹窗-->
        <div class="user_box box1" style="display: none">
            <div class="business-box">
                <div class="content-box">
                    <ul>
                        <img class="logo-list" src="img/logo-list.png" />
                        <li class="title-desc">活动详情：</li>
                        <li>1、活动期间，首次订购百度爱奇艺9元15G流量包并成功参与活动的用户，自订购当月起前3个月享受等额话费返还，退订后停止返还；三个月后继续畅享9元15GB百度爱奇艺包，畅快体验。
                        </li>
                        <li>2、每位用户仅可参加一次本优惠活动；参与过前期百度爱奇艺流量促销活动的用户暂不可参加此活动。</li>
                        <li>3、此次活动为中国移动用户专享，在参加活动时请保证电话畅通不欠费。</li>
                        <li>4、本活动与苹果公司（APPLE INC.）无关。</li>
                        <li class="title-desc">产品权益规则：</li>
                        <li>百度爱奇艺流量包专享免流App包括：爱奇艺、百度、百度地图、百度贴吧、好看视频、手机助手、百度翻译、百度输入法、百度糯米、百度文库、百度知道、百度百科、秒懂百科。</li>
                        <li class="title-desc">定向流量使用规则：</li>
                        <li>1、建议成功领取流量包的用户，进行以下操作可享受最佳的免流体验：</li>
                        <li>(1)升级百度App至V10.7及以上版本。</li>
                        <li>(2)升级爱奇艺至V9.10.0及以上版本。</li>
                        <li>2、针对上述App不包含在“定向流量”内的适用范围，特别说明如下：</li>
                        <li>(1)在爱奇艺App内播放、下载第三方视频；浏览H5页面及播放、下载H5页面内视频；阅读小说、漫画等内容；观看第三方提供的广告、使用第三方提供的应用下载等服务。</li>
                        <li>(2)所有百度系App内的第三方提供的网页、视频、图片、广 告 、应用下载等服务，例如手机新闻网、搜狗、携程、京东等非百度业务。</li>
                        <li>(3)百度App内除小说外的所有频道（右上角）及第三方小说；个性化资讯推荐版块的动漫、逛逛、畅听；通过搜索打开的所有网页内容；个人中心内的小程序。</li>
                        <li>(4)百度贴吧App内的直播、第三方链接等。</li>
                        <li>(5)百度地图App内的共享单车、车主服务等板块。</li>
                        <li>(6)好看视频App内的离线下载。</li>
                        <li>(7)百度翻译App内的小工具。</li>
                        <li>(8)百度输入法App内的卡片搜索、精品推荐应用下载、内置浏览器等。</li>
                        <li>(9)在无线上网卡、移动WIFI、MIFI、平板电脑（如Ipad）等设备使用。</li>
                        <li>(10)安装和使用任何流量监控、上网代理及VPN类软件和插件。</li>
                        <li>(11)将手机号码作为手机热点使用。</li>
                        <li>(12)使用网络加速器、代理服务器、VPN等工具。</li>
                        <li>(13)在港澳台、国际地区使用。</li>
                        <li>(14)使用WAP接入点访问。</li>
                        <li class="title-desc">业务说明：</li>
                        <li>1、产品采用话费支付，订购后立即生效，流量全额提供，每月的定向流量可供当月本机使用，使用范围为国内（不含港澳台）。</li>
                        <li>2、请在WIFI功能关闭下使用免流功能，避免WIFI和移动网络频繁切换导致免流量服务启动失败。</li>
                        <li>3、变更套餐次月生效，每月仅支持一次变更，不支持多次变更，具体规则请咨询当地10086为准。</li>
                        <li>4、了解业务规则或退订业务，请详询10086或关注微信公众号“任我看助手”操作。</li>
                        <li>5、本活动中流量当月清零、不能分享、不能转赠。</li>
                        <li>6、本产品的流量额度最高可使用到每月上网流量封顶值，且与其他上网功能产生的流量共享封顶值，用户号码封顶值与其使用的套餐有关，具体咨询10086。</li>
                        <li>7、当通用流量使用达到降速阀值并降速后，定向流量会同时降速, 用户订购提速服务后，降速解除。</li>
                    </ul>
                </div>
                <div class="close"></div>
            </div>
        </div>
        <!--双会员业务说明弹窗-->
        <div class="user_box box2" style="display: none">
            <div class="business-box double">
                <ul>
                    <li class="title-text">活动详情：</li>
                    <li>1、即日起用户可享受29.9元/月的优惠价格订购“咪咕爱奇艺联合会员”产品（标准价57.8元/月），优惠期自用户订购当月起6个月,优惠到期后产品自动退订。促销期内每位用户使用同一手机号仅可享有一次优惠价格订购此产品的机会。产品权益如下：
                    </li>
                    <li>（1）爱奇艺VIP黄金会员</li>
                    <li>（2）咪咕视频VIP会员</li>
                    <li>（3）咪咕视频&爱奇艺定向流量30GB</li>
                    <li>2、产品订购后立即生效，变更或退订次月生效。活动期内，订购次月开始每月月初自动续费。如需退订，请拨打10086，退订后活动期内无法再次订购。</li>
                    <li class="title-desc">产品权益规则</li>
                    <li>咪咕爱奇艺联合会员开通成功后，立即生效，产品权益范围包括：</li>
                    <li>1、爱奇艺VIP黄金会员权益，每月成功扣费后权益立即生效，权益延长一个月。</li>
                    <li>2、咪咕视频会员权益，每月成功扣费后权益立即生效，权益延长一个月。</li>
                    <li>3、爱奇艺&咪咕视频定向流量，每月成功扣费后流量立即生效，当月有效，不可结转。</li>
                    <li class="title-desc">定向流量使用规则</li>
                    <li>定向流量可在爱奇艺和咪咕视频APP内使用。定向流量当月清零、不能分享、不能转赠。爱奇艺APP需升级至V9.10.0及以上版本，可享受最佳的免流量体验。 定向流量的使用范围，不包括以下情况：
                    </li>
                    <li>1、咪咕视频APP内的贴片广告、网页链接方式访问视频内容产生的流量。咪咕视频的第三方提供的网页、视频、音频、图片、广告、应用下载等服务。</li>
                    <li>2、在爱奇艺APP内播放、下载第三方视频；浏览H5页面及播放、下载H5页面内视频；阅读小说、漫画等内容；观看第三方提供的广告、使用第三方提供的应用下载等服务。</li>
                    <li>3、在无线上网卡、移动WIFI、MIFI、CPE、平板电脑(如ipad)等非手机设备使用；手机号码作为手机热点使用；使用CMWAP接入点方式，访问APP所产生的流量。</li>
                    <li class="title-desc">温馨提示</li>
                    <li>1、话费支付仅限中国移动用户（不含携号转网用户）。</li>
                    <li>2、用户使用话费支付，支付成功即时扣费。</li>
                    <li>3、如手机账户话费余额不足将无法完成支付。</li>
                    <li>4、活动时间：2018.12.15-2019.12.31</li>
                </ul>
                <div class="close"></div>
            </div>
        </div>
        <!--订购成功弹窗-->
        <div class="user_box box3" style="display: none">
            <div class="success-box">
                <p class="box-title">订购成功</p>
                <p class="box-desc"><span class="line"></span>您已成功提交<span class="line"></span></p>
                <p class="box-text">成功受理信息请以中国移动的短信通知为准。目前由于订购用户较多，短信通知可能会有时延，请耐心等待。如有疑问，请咨询10086。</p>
                <div class="logo"><img src="img/logo.png" /></div>
                <div class="btn"></div>
            </div>
        </div>
    </div>
</body>
<script src="./js/rem.dev.js"></script>
<script src="./js/jquery.min.js"></script>
<script>
    $(function () {
        hide();

        function hide() {
            $('.new').hide();
        };
        $('.select-logo .btn2').click(function () {
            $('.part15').hide();
            $('.part30').show();
            $('.tips-content').attr('src','./img/130-2.png')
            $('.tc-btn').attr('src','./img/130-1.png')
            $('.checkDetail').addClass('click2').removeClass('click1')
        });
        $('.select-logo .btn1').click(function () {
            $('.part15').show();
            $('.part30').hide();
            $('.tips-content').attr('src','./img/1appArr.png')
            $('.tc-btn').attr('src','./img/1btn1.png')
            $('.checkDetail').addClass('click1').removeClass('click2')
            
        });
        $('.content').on('click','.click1',function(){
            $('.box1').show();
        })
        $('.content').on('click','.click2',function(){
            $('.box2').show();
        })
        $('.close').click(function () {
            $(this).parent().parent().hide();
        });
        $('.tc-btn').click(function () {
            $('.box3').show();
        });
        $('.btn').click(function () {
            $('.box3').hide();
        });
        $('.code').click(function () {
            $(this).addClass('code2');
        });
    })
</script>

</html>